.tab-item {

    &.active {
        .tab {
            background: #eee;
        }

        .container {
            background: #eee;
            visibility: visible;
        }
    }

    .tab {
        background: #aaa;
        float: left;
        padding: 0 4px 0 16px;
        font-size: 12px;
        height: 34px;
        cursor: pointer;
        position: relative;

        .title {
            display: inline-block;
            position: relative;
            top: 6px;
        }

        .close {
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-left: 6px;
            border-radius: 2px;
            padding: 3px;
            position: relative;
            top: 9px;

            path {
                visibility: hidden;
            }
        }

        &:hover {
            .close {
                &:hover {
                    background: #ccc;
                }

                path {
                    visibility: visible;
                }
            }
        }

        &:last-child {
            border: none;
        }
    }

    .container {
        position: absolute;
        left: 0;
        top: 62px;
        width: 100vw;
        height: calc(100vh - 62px);
        background: #aaa;
        visibility: hidden;

        .width-resize-handle {
            height: 100%;
            width: 5px;
            float: left;
            cursor: w-resize;
        }

        .height-resize-handle {
            position: absolute;
            width: 90%;
            height: 5px;
            right: 5px;
            cursor: n-resize;
        }
    }
}